@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&family=Cutive&family=Josefin+Sans:wght@300&display=swap');

:root{
    --yellow: #d28a05;
    --black:#000;
    --font-one: 'Cutive',sans-serif;
    --font-two:'Averia Libre';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--yellow);
    font-family: var(--font-one);
}

.sm-text{
    font-size: 12px;
}

.header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/hero/hero-3.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    height: 100vh;
}
h1{
    font-size: 40px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.logo{
    height: 60px;
}

.feathers-icon{
    color: var(--black);
    height: 17px;
    stroke: var(--black);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.logo img{
    height: inherit;
}

.navigation{
    padding-top: 15px;
}

.navigation a{
    text-decoration: none;
    padding: 10px;
}

.hero{
    padding: 80px;
    text-align: center;
}

.btn{
    padding: 8px;
    background-color: black;
    border-radius: 5px;
    color:white;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.hero h1{
    margin-top: 13%;
}

.section{
    height: 500px;
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto 10%;

}
.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    padding: 0 10px;
}

.section-title h3{
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
    border-bottom: 5px solid var(--yellow);
    padding: 0 0 .5rem 0;
}
.feature{
    width: 33%;
    text-align: center;
    border: 1px solid rgba(7, 24, 46, 0.1);
    padding-bottom: 10px;
    margin:0 10px   
}
.feature:hover{
    box-shadow: rgb(0, 0, 0 / 10%) 0px 4px 6px -1px, rgb(0, 0, 0 / 6%) 0px 2px 4px -1px;
}
.feature-head{
    margin-top: 10px;
}
.feature-head h3{
    font-family: var(--font-two);
}
.feature-item{
    padding: 20px;
}
.feature-item p{
    font-size: 12px;
    color: var(--black);
}
.recent-projects{
    border-top: 1px solid gray;
}